.navbar{
    width: 100vw;
}

.navbar-nav button{
    position: absolute;
    right: 20px;
    display: inline-block;
}

.nav-item-account{
    display: none;
}
/* media query  */

@media only screen and (max-width: 990px) {
    .navbar-nav button{
        display: none;
    }
    .nav-item-account{
        display: inline-block;
    }

}


.accountLogo{
    color: #ffffff;
    border: 1px solid #fff;
}
.accountLogo:hover{
    color: #4a97d2;
    background-color: #fff;
}

